<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
       <% if @product.quantity === 0 %>
        <span class="badge sold-out">SOLD OUT!</span>
      <% end %>
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
          <br>
          <dd>
          <h3>Review This Product</h3>
          </dd>
            <%= form_for @review, url: 
              product_reviews_url(@product) do |f| %>
              
                <dt><%=label_tag :rating, 'Rating' %> </dt>
                <dd>
                <%= f.select :rating, 1..5, id: :product_reviews %>
              </dd>
               <dt> <%=label_tag :description, 'Description' %></dt>
              <dd>
                <%= f.text_area :description, id: :product_reviews %>
              </dd>
            <dd><%= f.submit %></dd>
           <% end %>
         </dl>
        </div>
      </div>
     <table class="table table-bordered">
     <caption><h4> Reviews </h4></caption>
      <thead>
        <td>
        <h5>Name</h5>
        </td>  
        <td>
        <h5>Rating</h5>
        </td>  
        <td>
        <h5>Description</h5>
        </td>    
        </tr>
      </thead>
      <tbody>
    <%if @product.reviews.length === 0 %>
      <td> <em> There are no reviews for this Item </em> </td>
      <td/>
      <td/>
    <% end %>
          <% @product.reviews.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      </tbody>
      
  </article>

</section>

